.welcome{
    position: relative;
    top: 50px;
    height: 800px;
    width: 100%;
    z-index:-1;
    text-align: center;
}

.welcome img{
    height: 450px;
}

.subtitle{
    font-size: 100px;
    font-family: Mandalor;
    text-shadow: 0px 0px 10px;
}

@font-face {
    font-family: "Mandalor";
    src: url("/src/css/fonts/mandalor.ttf") format("truetype");
    font-weight: 400;
  }