.navbar a {
    color: black; 
    font-size: 20px;
    text-shadow: 0px 0px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: text-shadow 0.5s;
}

.popup-overlay {
    background-color: rgba(128, 128, 128, 0.692);
}

.navbar a:hover {
    color: rgb(58, 58, 58);
    text-shadow: 0px 0px 3px white, 0px 0px 15px rgb(75, 107, 177), 0px 0px 10px rgb(75, 107, 177);
}

.navbar ul{
    list-style: none;
}

.log{
    display: flex;
    position: absolute;
    right: 150px;
  }

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar button{
    margin-right:20px;
}