.productCard {
    list-style: none;
    text-align: center;
  }
  .productCard a {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
  }
  
  .productCard:hover {
    opacity: 0.8;
  }
  
  .productImage {
    border-radius: 10px;
    background-color: azure;
    height: auto;
    width: 100%;
  }
  
  @media (max-width: 560px) {
    .productImage {
      width: 90%;
      height: auto;
    }
  }