.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .detailsContainer img{
    position: relative;
    translate: 0% 40%;
  }
  
  .col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
  }
  
  .productImage {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    margin: 10px;
  }
  
  .productDetails {
    font-size: 20px;
    line-height: 40px;
  }
  
  .firstItem {
    margin-top: 0;
  }

  .responses{
    font-style: italic;
    color:brown;
  }

  .discount {
    text-align: center;
    color: red;
    transform: scale(1.2);
    animation: pulse 2s infinite;
  }

  .discounton{
    text-decoration:line-through;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
    }
  
    70% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(0.95);
    }
  }