.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 100px;
    padding: 40px;
    justify-content: center;
  }
  
  @media (max-width: 560px) {
    .productsGrid {
      grid-template-columns: 100%;
    }
  }

  .filter{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .filter button{
    width: 100%;
    height: 100%;
  }